/*--------------------------------------------------------*/
/*------------------------Basic setup---------------------*/
/*--------------------------------------------------------*/
:root {
    /* theme colours */
    --base-color: #e74c3c;
    --base-color-dark: #c0392b;
    --secondary-color: #f39c12;
    --secondary-color-dark: #d68212;
    --white-color: #ecf0f1;
    --white-color-light: #f4f8f9;
    --black-color: #343a40;
    --pure-black-color: #1d0500;
    --pure-black-color-opacity-1: rgba(29, 5, 0, 0.9);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--white-color);
    color: var(--black-color);
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.show {
    visibility: visible !important;
}

/*---------------------------------------------------------------*/
/*------------------------REUSABLE COMPONENT---------------------*/
/*---------------------------------------------------------------*/
.row {
    max-width: 1140px;
    margin: 0 auto;
}

.hidden {
    visibility: hidden;
}

.clear-fix {
    zoom: 1;
}

.clear-fix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*----------------------------------------------------------------*/
/*------------------------HEADINGS--------------------------*/
/*----------------------------------------------------------------*/
.heading-1,
.heading-2,
.heading-3 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

/*--------------------------------------------------------*/
/*------------------------HEADER--------------------------*/
/*--------------------------------------------------------*/

.heading-1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: var(--white-color);
    font-size: 250%;
    word-spacing: 4px;
    animation-name: fadeInMOverFromRight;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
}

.hero-text-box {
    position: absolute;
    max-width: 1140px;
    top: 50%;
    left: 20%;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("../images/website-images/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: auto;

}

/*--------------------------------------------------------*/
/*------------------------BUTTONS--------------------------*/
/*--------------------------------------------------------*/

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    transition: background-color 0.30s, border 0.3s, color 0.3s;
}

.btn-full:link,
.btn-full:visited {
    background-color: var(--base-color);
    color: var(--white-color);
    border-radius: 200px;
    border: 1px solid var(--base-color);
    margin-right: 15px;
    animation-name: fadeInMOverFromBottom;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
    animation-delay: 1s;
}

.btn-full:hover,
.btn-full:active {
    background-color: var(--base-color-dark);
    color: var(--white-color);
    border-color: var(--base-color-dark);
}

.btn-ghost:link,
.btn-ghost:visited {
    color: var(--white-color);
    border-radius: 200px;
    border: 1px solid var(--white-color);
    animation-name: fadeInMOverFromBottom;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
    animation-delay: 1s;
}

.btn-ghost:hover,
.btn-ghost:active {
    border-color: var(--base-color-dark);
    background-color: var(--base-color-dark);
}

.btn-full:hover,
.btn-ghost:hover {
    transform: translateY(-3px);
    box-shadow: 2px 7px 10px 10px rgba(29, 5, 0, 0.7);
}

.btn-full:active,
.btn-ghost:active {
    transform: translateY(3px);
    box-shadow: 2px 5px 7px 7px rgba(29, 5, 0, 0.3);
}

/*--------------------------------------------------------*/
/*------------------------NAVBAR--------------------------*/
/*--------------------------------------------------------*/
.logo {
    height: 70px;
    width: auto;
    display: inline-block;
    vertical-align: middle;
}

.brand {
    text-decoration: none;
    color: var(--white-color);
    font-size: 200%;
    float: left;
    vertical-align: middle;
    display: inline-block;
    padding-top: 20px;
    /*animation-name: fadeIn;*/
    /*animation-duration: 0.5s;*/
    /*animation-timing-function: ease-in-out;*/
    /*animation-fill-mode: backwards;*/
    /*animation-delay: 0.5s;*/
}

.brand-name {
    font-weight: 300;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

/*--------------------------------------------------------*/
/*------------------------MENU--------------------------*/
/*--------------------------------------------------------*/
.menu {
    float: right;
    display: inline-block;
    margin-top: 40px;
    animation-name: fadeIn;
    /*animation-duration: 0.5s;*/
    /*animation-timing-function: ease-in-out;*/
    /*animation-fill-mode: backwards;*/
    /*animation-delay: 0.5s;*/
}

.menu li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    padding-bottom: 5px;
}

.menu li a {
    text-decoration: none;
    color: var(--white-color);
}

.special-buttons {
    display: inline-flex;
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
}

.btn-menu:link,
.btn-menu:visited,
.btn-book-table:link,
.btn-book-table:visited,
.btn-contact-us:link,
.btn-contact-us:visited,
.btn-about-us:link,
.btn-about-us:visited {
    border-bottom: 1px solid transparent;
}

.btn-menu:hover,
.btn-menu:active,
.btn-book-table:hover,
.btn-book-table:active,
.btn-contact-us:hover,
.btn-contact-us:active,
.btn-about-us:hover,
.btn-about-us:active {
    border-bottom: 1px solid var(--secondary-color);
    transition: border-bottom-color 0.5s;
}

.navbar {
    padding: 10px 10px 0px 10px;
}

.user-image {
    height: 50px;
    width: auto;
    padding-top: 10px;
}


.btn-sign-up:link,
.btn-sign-up:visited {
    background-color: var(--base-color);
    border-radius: 200px;
    transition: background-color 0.30s;
    padding: 5px 15px;
    font-weight: 400;
}

.btn-sign-up:active,
.btn-sign-up:hover {
    background-color: var(--base-color-dark);
    padding: 6px 17px;
    box-shadow: 0px 0px 10px 10px rgba(29, 5, 0, 0.4);
    transition: all 0.3s ease-in-out;
}

.btn-sign-up:active {
    color: var(--base-color-dark);
    background-color: var(--white-color);
    box-shadow: 0px 0px 10px 10px rgba(29, 5, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

.btn-user {
    padding-bottom: 0px;
}

.sign-up {
    padding-bottom: 0px;
    padding-top: 10px;
}

.btn-cart {
    position: relative;
    display: inline-block;
    margin-right: 30px;
}

@media only screen and (min-width: 1010px) {
    .btn-sidebar {
        display: none;
    }

    .sidebar {
        display: none;
    }

    /*----------------------------------------------------------------*/
    /*------------------------DROP-DOWN MENU--------------------------*/
    /*----------------------------------------------------------------*/
    .dropdown-content {
        position: relative;
    }

    .dropdown-options {
        position: absolute;
        right: 20px;
        top: 0px;
        border-radius: 3px;
        text-decoration: none;
        color: var(--white-color);
        width: 230px;
        transition: height 0.5s ease-in-out;
        display: none;
    }

    .dropdown-options li {
        list-style: none;
        padding: 13px 15px;
        background-color: var(--base-color);

    }

    .dropdown-options li i {
        margin-right: 10px;
    }

    .dropdown-options li:hover {
        background-color: var(--base-color-dark);
        border-left: 5px solid var(--secondary-color);
        transition: background-color 0.3s, border-left-width 0.5s;
    }

    .navbar-dropdown {
        padding: 0px 10px;
    }
}

/*media queries */
@media only screen and (max-width: 1010px) {
    .menu {
        display: none;
    }

    .navbar-dropdown {
        display: none;
    }

    .dropdown-options {
        display: none;
    }

    .dropdown-content {
        display: none;
    }

    .btn-sidebar {
        text-decoration: none;
        font-size: 200%;
        color: var(--base-color);
        display: inline !important;
        float: right;
        border: none;
        outline: none;
    }

    .btn-sidebar:hover {
        font-size: 215%;
        transition: font-size 0.5s, color 0.6s;
        color: var(--base-color);
    }

    .btn-sidebar:active {
        font-size: 200%;
        transition: font-size 0.5s, color 0.6s;
        color: var(--base-color-dark);
    }

    .btn-toggle {
        background-color: var(--white-color-light);
        border: none;
        position: fixed;
        z-index: 2;
        right: 3vw;
        top: 5vh;
        padding: 10px 20px;
        border-radius: 100%;
        box-shadow: 0px 0px 40px 9px rgba(29, 0, 0, 0.3);
        border: none;
        outline: none;
    }

    .btn-toggle:active {
        box-shadow: 0px 0px 20px 5px rgba(29, 0, 0, 0.3);
    }

    .sidebar {
        position: fixed;
        font-size: 150%;
        background-color: var(--pure-black-color-opacity-1);
        z-index: 3;
        width: 0px;
        height: 100vh;
        float: right;
        top: 0px;
        right: 0px;
        transition: 0.7s;
    }

    .sidebar-menu-options {
        display: none;
        transition: width 0.5s ease-in-out;
    }

    .sidebar-menu {
        padding-top: 15vh;
    }

    .sidebar-menu li {
        margin-bottom: 5vh;
        list-style: none;
        color: var(--white-color);
        padding-left: 30px;
    }

    .sidebar-menu a {
        color: var(--white-color);
        text-decoration: none;
        padding-left: 20px;
    }

    .sidebar-menu li:hover {
        color: var(--secondary-color);
        text-decoration: none;
        border-left: 4px solid var(--secondary-color);
        transition: border-left 0.5s, padding-left 0.6s, color 0.6s;
        cursor: pointer;
    }

    .btn-sidebar-my-account {

        margin-bottom: 2vh !important;
    }

    .sidebar-account-dropdown {
        padding-top: 10px;
        padding-left: 3vw;
    }

    .sidebar-account-dropdown a {
        font-size: 90%;
        margin-bottom: 10px;
        margin-left: 40px;
        display: block;
        color: var(--white-color);
    }

    .sidebar-account-dropdown i {
        padding-right: 20px;
    }

    .sidebar-account-dropdown a:hover {
        transition: color 0.5s;
        color: var(--secondary-color);
        cursor: pointer;
    }

    .btn-close {
        display: none;
        color: var(--white-color);
        background-color: transparent;
        border: none;
        font-size: 120%;
        position: absolute;
        top: 5vh;
        right: 5vw;
        transition: transform .8s ease-in-out;
    }

    .btn-close:hover {
        cursor: pointer;
        transform: rotate(180deg);
        color: var(--secondary-color);
    }
}


/*--------------------------------------------------------*/
/*------------------------NOTIFICATIONS BUBBLE --------------------------*/
/*--------------------------------------------------------*/

.bubble {
    background-color: var(--base-color);
    color: white;
    border-radius: 200px;
    /*width: 5px;*/
    height: 5px;
    font-size: 40%;
    padding: 3px;
}

.cart-bubble-text,
.user-bubble-text {
    padding: 5px 7px 5px 7px;
    height: auto;
}

.cart-bubble-text {
    position: absolute;
}

.user-bubble-text {
    float: right;
}

.cart-bubble-text:hover,
.user-bubble-text:hover {
    background-color: var(--base-color-dark);

}

.offers-bubble-text {
    background-color: var(--white-color);
    color: var(--base-color-dark);
    margin-left: 30%;
    position: absolute;
    padding: 5px 7px 5px 7px;
    font-size: 60%;
    height: auto;
}

.offers-bubble-text:hover {
    background-color: var(--secondary-color);
    color: var(--pure-black-color);
}

/*--------------------------------------------------------*/
/*------------------------ICONS--------------------------*/
/*--------------------------------------------------------*/

.ion-ios-cart-outline,
.ion-ios-contact-outline {
    color: var(--white-color);
    font-size: 36px;
}

.ion-ios-cart-outline:hover,
.ion-ios-contact-outline:hover {
    box-shadow: 0px 0px 10px 10px rgba(46, 8, 0, 0.5);
    border-radius: 50%;
    font-size: 37px;
    transition: all 0.3s ease-in-out;
}

.ion-ios-cart-outline:active,
.ion-ios-contact-outline:active {
    color: var(--secondary-color);
    box-shadow: 0px 0px 10px 10px rgba(29, 5, 0, 0.3);
    border-radius: 50%;
    font-size: 36px;
    transition: all 0.3s ease-in-out;
}

.ui-icon {
    color: var(--white-color);
}


/*----------------------------------------------------------------*/
/*------------------------FEATURES SECTION--------------------------*/
/*----------------------------------------------------------------*/

.features {
    display: flex;
}

.box {
    display: inline-block;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.heading-3 {
    font-size: 110%;
    margin-top: 10px;
    margin-bottom: 20px;
    letter-spacing: normal;
}

.feature-heading-section {
    text-align: center;
    padding: 30px 0px;
}

.heading-2 {
    margin-bottom: 20px;
    margin-top: 70px;
    font-size: 180%;
}

.heading-2:after {
    content: "";
    height: 2px;
    display: block;
    background-color: var(--secondary-color);
    width: 100px;
    margin: 20px auto;

}

.section-features p {
    line-height: 145%;
    font-size: 90%;
}

.feature-long-text {
    width: 70%;
    margin-left: 15%;
}

.section-features i {
    font-size: 300%;
    color: var(--base-color);
    margin-bottom: 10px;
    word-spacing: 2px;
}

.section-features i:hover {
    color: var(--base-color-dark);
    font-size: 303%;
}

/*----------------------------------------------------------------*/
/*------------------------GALLERY SECTION--------------------------*/
/*----------------------------------------------------------------*/
.section-favourite-meals {
    text-align: center;
}

.category-heading {
    margin-top: 20px;
}

.favourite-meals-heading {
    text-align: center;
}

.galley-image {
    width: 100%;
    height: auto;
    transform: scale(1);
    background-color: black;
    opacity: 0.8;
}

.galley-image:hover {
    transform: scale(1.3);
    transition: transform 0.5s;
    width: 100%;
    height: auto;
    opacity: 0.4;
    cursor: pointer;
}

.zoom-image {
    transform: scale(1.3);
    transition: transform 0.5s;
    width: 100%;
    height: auto;
    opacity: 0.4;
}

.image-caption {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    color: var(--white-color);
    font-size: 120%;
    position: absolute;
    z-index: 2;
    text-align: center;
    display: flex;
    justify-content: center; /* horizonatally align at center*/
    align-items: center; /*vertically align at center*/
}

.section-favourite-meals ul {
    width: 100%;
    list-style: none;
    display: inline-table;
}

.section-favourite-meals li {
    display: inline-block;
    margin: -6px;
}

.section-favourite-meals img {
    display: block;
}

.section-favourite-meals figure {
    margin: 0px;
    width: 100%;
    overflow: hidden;
    background-color: black;
    position: relative;
}

/*--------------------------------------------------------*/
/*------------------------ WHAT MAKES US DIFFERENT ? --------------------------*/
/*--------------------------------------------------------*/
.section-how-it-works {
    background-color: var(--white-color-light);
}

.quality-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.quality-box:last-child {
    padding-left: 3%;
    margin-top: 90px;
}

.app-screen {
    width: 80%;
}

.quality {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quality div {
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color-dark);
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    display: inline-block;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.quality p {
    width: 100%;
}

.btn-app {
    text-decoration: none;
}

.btn-app img {
    height: 70px;
    margin-right: 10px;
    margin-top: 50px;
}

.btn-app img:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 1px 9px 20px 9px rgba(29, 5, 0, 0.2);

}

.btn-app img:active {
    transform: translateY(3px) scale(1);
    box-shadow: 1px 9px 20px 9px rgba(29, 5, 0, 0.1);
}

/*Gallery Media Queries*/

@media only screen and (max-width: 900px) and (min-width: 600px) {
    .section-favourite-meals li {
        display: inline-block;
        width: 47%;
    }

    .quality-box:first-child {
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    .app-screen {
        width: 400px;
    }

    .btn-app {
        display: block;
        text-align: center;
    }

    .btn-app img {
        height: 100px;
        margin: auto auto 20px auto;
    }
}

@media only screen and (max-width: 1090px) and (min-width: 900px) {
    .btn-app img {
        height: 60px;
        margin: 0px auto 0px auto;
    }

    .quality-box:last-child {
        padding-left: 3%;
        margin-top: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .section-favourite-meals li {
        display: grid;
        width: 100%;
    }

    .quality-box:first-child {
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    .btn-app img {
        height: 58px;
    }
}

@media only screen and (max-width: 900px) {
    .section-features div {
        display: inline-block;
        width: 100%;
    }

    .quality-box:last-child {
        width: 100%;
        padding: 30px;
    }
}


/*Animations*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInMOverFromRight {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }
    80% {
        opacity: 0.8;
        transform: translateX(-30px);
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}


@keyframes fadeInMOverFromBottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    80% {
        opacity: 0.8;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
    }
}