/*--------------------------------------------------------*/
/*------------------------Basic setup---------------------*/
/*--------------------------------------------------------*/
:root {
    /* theme colours */
    --base-color: #e74c3c;
    --base-color-dark: #c0392b;
    --secondary-color: #f39c12;
    --secondary-color-dark: #d68212;
    --white-color: #ecf0f1;
    --black-color: #343a40;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--white-color);
    color: var(--black-color);
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/*---------------------------------------------------------------*/
/*------------------------REUSABLE COMPONENT---------------------*/
/*---------------------------------------------------------------*/
.row {
    max-width: 1140px;
    margin: 0 auto;
}

.hidden {
    visibility: hidden;
}
/*----------------------------------------------------------------*/
/*------------------------HEADINGS--------------------------*/
/*----------------------------------------------------------------*/
.heading-1,
.heading-2,
.heading-3{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/*--------------------------------------------------------*/
/*------------------------HEADER--------------------------*/
/*--------------------------------------------------------*/

.heading-1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: var(--white-color);
    font-size: 250%;
    word-spacing: 4px;
}

.hero-text-box {
    position: absolute;
    max-width: 1140px;
    top: 50%;
    left: 20%;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("../images/website-images/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: auto;
}

/*--------------------------------------------------------*/
/*------------------------BUTTONS--------------------------*/
/*--------------------------------------------------------*/

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    transition: background-color 0.30s, border 0.3s, color 0.3s;
}

.btn-full:link,
.btn-full:visited {
    background-color: var(--base-color);
    color: var(--white-color);
    border-radius: 200px;
    border: 1px solid var(--base-color);
    margin-right: 15px;
}

.btn-full:hover,
.btn-full:active {
    background-color: var(--base-color-dark);
    color: var(--white-color);
    border-color: var(--base-color-dark);
}

.btn-ghost:link,
.btn-ghost:visited {
    color: var(--white-color);
    border-radius: 200px;
    border: 1px solid var(--white-color);
}

.btn-ghost:hover,
.btn-ghost:active {
    border-color: var(--base-color-dark);
    background-color: var(--base-color-dark);
}

/*--------------------------------------------------------*/
/*------------------------NAVBAR--------------------------*/
/*--------------------------------------------------------*/
.logo {
    height: 70px;
    width: auto;
    display: inline-block;
    vertical-align: middle;
}

.brand {
    text-decoration: none;
    color: var(--white-color);
    font-size: 200%;
    float: left;
    vertical-align: middle;
    display: inline-block;
    padding-top: 20px;
}

.brand-name {
    font-weight: 300;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
/*--------------------------------------------------------*/
/*------------------------MENU--------------------------*/
/*--------------------------------------------------------*/
.menu {
    float: right;
    display: inline-block;
    margin-top: 40px;
}

.menu li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    padding-bottom: 5px;
}

.menu li a {
    text-decoration: none;
    color: var(--white-color);
}

.special-buttons{
    display: inline-flex;
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
}
.btn-menu:link,
.btn-menu:visited,
.btn-book-table:link,
.btn-book-table:visited,
.btn-contact-us:link,
.btn-contact-us:visited,
.btn-about-us:link,
.btn-about-us:visited {
    border-bottom: 1px solid transparent;
}

.btn-menu:hover,
.btn-menu:active,
.btn-book-table:hover,
.btn-book-table:active,
.btn-contact-us:hover,
.btn-contact-us:active,
.btn-about-us:hover,
.btn-about-us:active {
    border-bottom: 1px solid var(--secondary-color);
    transition: border-bottom-color 0.5s;
}

.navbar {
    padding: 10px 10px 0px 10px;
}

.user-image {
    height: 50px;
    width: auto;
    padding-top: 10px;
}


.btn-sign-up:link,
.btn-sign-up:visited {
    background-color: var(--base-color);
    border-radius: 200px;
    transition: background-color 0.30s;
    padding: 5px 15px;
}

.btn-sign-up:active,
.btn-sign-up:hover {
    background-color: var(--base-color-dark);
    padding: 6px 17px;
}
.btn-user{
    padding-bottom: 0px;
}

.sign-up{
    padding-bottom: 0px;
    padding-top: 10px;
}
.btn-cart{
    position: relative;
    display: inline-block;
    margin-right: 30px;
}
/*--------------------------------------------------------*/
/*------------------------NOTIFICATIONS BUBBLE --------------------------*/
/*--------------------------------------------------------*/

.bubble{
    background-color: var(--base-color);
    color: white;
    border-radius: 200px;
    /*width: 5px;*/
    height: 5px;
    font-size: 40%;
    padding: 3px;
}

.cart-bubble-text,
.user-bubble-text{
    position: absolute;
    padding: 5px 7px 5px 7px;
    height: auto;
}
.cart-bubble-text:hover,
.user-bubble-text:hover{
    background-color: var(--base-color-dark);
}
.offers-bubble-text{
    background-color: var(--white-color);
    color: var(--base-color-dark);
    margin-left: 30%;
    position: absolute;
    padding: 5px 7px 5px 7px;
    font-size: 60%;
    height: auto;
}
/*--------------------------------------------------------*/
/*------------------------ICONS--------------------------*/
/*--------------------------------------------------------*/

.ion-ios-cart-outline,
.ion-ios-contact-outline{
    color: var(--white-color);
    font-size: 35px;
}
.ion-ios-cart-outline:hover,
.ion-ios-contact-outline:hover {
    color: var(--secondary-color);
    transition: background-color 0.3s;
}
.ui-icon {
    color: var(--white-color);
}


/*----------------------------------------------------------------*/
/*------------------------DROP-DOWN MENU--------------------------*/
/*----------------------------------------------------------------*/

.dropdown-content {
    position: relative;
}

.dropdown-options {
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 3px;
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--base-color);
    width: 230px;
}

.dropdown-options li {
    list-style: none;
    padding: 13px 15px;
}

.dropdown-options li i {
    margin-right: 10px;
}

.dropdown-options li:hover {
    background-color: var(--base-color-dark);
    border-left: 5px solid var(--secondary-color);
    transition: background-color 0.3s, border-left-width 0.5s;
}

.navbar-dropdown {
    padding: 0px 10px;
}

/*----------------------------------------------------------------*/
/*------------------------FEATURES SECTION--------------------------*/
/*----------------------------------------------------------------*/

.features {
    display: flex;
}

.box{
    display: inline-block;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
.heading-3{
font-size: 110%;
    margin-top: 10px;
    margin-bottom: 20px;
    letter-spacing: normal;
}
.feature-heading-section {
    text-align: center;
    padding: 30px 0px;
}

.heading-2 {
    margin-bottom: 20px;
    margin-top: 70px;
    font-size: 180%;
}
.heading-2:after{
    content: "";
    height: 2px;
    display: block;
    background-color: var(--secondary-color);
    width: 100px;
    margin: 20px auto;

}

.section-features p{
    line-height: 145%;
    font-size: 90%;
}

.feature-long-text{
    width: 70%;
    margin-left: 15%;
}

.section-features i {
    font-size: 300%;
    color: var(--base-color);
    margin-bottom: 10px;
    word-spacing: 2px;
}

.section-features i:hover {
    color: var(--base-color-dark);
    font-size: 303%;
}

/*----------------------------------------------------------------*/
/*------------------------GALLERY SECTION--------------------------*/
/*----------------------------------------------------------------*/
.section-favourite-meals{
    text-align: center;
}
.section-favourite-meals h3{
    margin-top: 20px;
}
.favourite-meals-heading{
    text-align: center;
}
.galley-image{
    width: 100%;
    height: auto;
}
.section-favourite-meals li{
    display: inline-block;
}
.section-favourite-meals figure{
    margin: 10px 0px ;
}
